.profile{
    position: relative;
    padding: 1rem;
  }
  
  .profile__container{
    row-gap: 1rem;
  }
  
  .profile__data{
    display: grid;
    text-align: center;
    justify-items: center;
  }
  
  .profile__name{
    visibility: visible;
    opacity: 1;
     
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0s;
  }
  .profile__name h2{
    font-size: 25px;
  }

  .profile__perfil{
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg
                hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
                hsla(var(--hue), var(--sat), var(--lig), .2) 100%,           
                );
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .profile__perfil img{
    width: 100px;
  }
  
  .profile__border{
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
  }
  
  .profile__profession{
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
  }
  
  .profile__social{
    display: flex;
    justify-content: center;
    column-gap: .75rem;
  }
  
  .profile__social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
  }
  
  .profile__social-link:hover{
    color: var(--first-color);
  }
  
  .profile__info{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 2.5rem;
  }
  
  .profile__info-group{
    text-align: center;
  }
  
  .profile__info-number{
    font-size: var(--normal-font-size);
    margin-bottom: .25rem;
  }
  
  .profile__info-description{
    font-size: var(--smaller-font-size);
    font-weight: 500;
  }
  
  .profile__buttons,
  .profile__buttons-small{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile__buttons{
    column-gap: 2rem;
  }
  
  .profile__buttons-small{
    column-gap: .25rem;
  }
  
  /*=============== BUTTONS ===============*/
  .button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px hsla(var(--hue), var(--sat), var(--lig), .25) ;
    
  }
  
  .button i{
    font-size: 1.25rem;
  }
  .button:hover{
    background-color: var(--first-color);
   
  }
  
  .button__small{
    padding: .75rem;
    box-shadow: none;
  
  }
  
  .button__gray{
    background-color: var(--text-color-lighten);
    color: var(--title-color);
  }
  
  .button__gray:hover{
  }